---
interface Props {
  avatarSrc: string;
  username: string;
  followers: string;
  platform?: "instagram" | "tiktok";
}

const {
  avatarSrc = "/videocover.jpg",
  username = "@asamlambunk",
  followers = "1.5m",
  platform = "tiktok",
} = Astro.props;

const cleanUsername = username.startsWith("@")
  ? username.substring(1)
  : username;

let profileUrl;
if (platform === "instagram") {
  profileUrl = `https://instagram.com/${cleanUsername}`;
} else if (platform === "tiktok") {
  profileUrl = `https://tiktok.com/@${cleanUsername}`;
}
---

<div class="selebCard">
  <div class="selebProfile">
    <img class="selebAvatar" src={avatarSrc} alt={`${username} avatar`} />
    <p class="selebName">{username}</p>
  </div>
  <div class="selebData">
    <div class="selebFollower">
      <div class="number">{followers}</div>
      <div class="label">Followers</div>
    </div>
    <a
      href={profileUrl}
      class="buttonPlay"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg
        width="8"
        height="10"
        viewBox="0 0 8 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.5 1.61803C0.5 0.874652 1.28231 0.391156 1.94721 0.723607L8.71114 4.10557C9.44819 4.4741 9.44819 5.5259 8.71115 5.89443L1.94722 9.27639C1.28231 9.60884 0.5 9.12535 0.5 8.38197V1.61803Z"
          fill="#F6F5F8"></path>
      </svg>
    </a>
  </div>
</div>

<style>
  .selebCard {
    background: #d9ff63;
    border-radius: 10px;
    padding: 14px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
    width: fit-content;
  }

  .selebProfile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .selebAvatar {
    background: lightgray;
    border-radius: 4px;
    flex-shrink: 0;
    width: 150px;
    position: relative;
    object-fit: cover;
    aspect-ratio: 1;
    -webkit-user-drag: none;
  }

  .selebName {
    color: #5150e3;
    text-align: left;
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
  }

  .selebData {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }

  .selebFollower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .selebFollower .number {
    color: #050530;
    text-align: left;
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
  }

  .selebFollower .label {
    color: #7f7fbb;
    text-align: left;
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
  }

  .buttonPlay {
    background: #5150e3;
    border-radius: 99px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    aspect-ratio: 1;
  }
</style>
