---
import "../styles/about.css";
import BlogItem from "../components/blogItem.astro";

import { getAllPosts } from "../lib/client";

const data = await getAllPosts();
const allPosts = data.publication.posts.edges;

interface Props {
  title?: string;
  currentSlug?: string;
}

const { title, currentSlug } = Astro.props;
export const prerender = false;
---

<div class="contentMax-about" id="about">
  <div class="aboutSection">
    <div class="container">
      <div class="headerSection">
        <h3>{title}</h3>
      </div>

      <section class="splide" id="aboutSplide">
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <div class="arrowRight">
              <svg
                width="7"
                height="11"
                viewBox="0 0 7 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 2.11803C0 1.37465 0.782313 0.891156 1.44721 1.22361L8.21114 4.60557C8.94819 4.9741 8.94819 6.0259 8.21115 6.39443L1.44722 9.77639C0.782315 10.1088 0 9.62535 0 8.88197V2.11803Z"
                  fill="#5150E3"></path>
              </svg>
            </div>
          </button>
          <button class="splide__arrow splide__arrow--next">
            <div class="arrowRight">
              <svg
                width="7"
                height="11"
                viewBox="0 0 7 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 2.11803C0 1.37465 0.782313 0.891156 1.44721 1.22361L8.21114 4.60557C8.94819 4.9741 8.94819 6.0259 8.21115 6.39443L1.44722 9.77639C0.782315 10.1088 0 9.62535 0 8.88197V2.11803Z"
                  fill="#5150E3"></path>
              </svg>
            </div>
          </button>
        </div>

        <div class="splide__track">
          <ul class="splide__list">
            {
              allPosts.map((post) => (
                <li class="splide__slide">
                  <BlogItem
                    href={`/blog/${post.node.slug}`}
                    imageSrc={post.node.coverImage.url}
                    title={post.node.title}
                    preview={post.node.brief}
                    isCurrentArticle={currentSlug === post.node.slug}
                  />
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide";
  document.addEventListener("DOMContentLoaded", function () {
    var splide = new Splide("#aboutSplide", {
      autoplay: true,
      type: "loop",
      perPage: 4,
      perMove: 1,
      gap: "16px",
      pagination: false,
      breakpoints: {
        1024: {
          perPage: 3,
        },
        768: {
          perPage: 2,
        },
        480: {
          perPage: 1,
        },
      },
    });
    splide.mount();
  });
</script>
